/* .routes-main{
    width: 100% !important;
    display: flex;
    margin-left: 260px;
} */

.ChatTextBoxComponent-chatTextBoxContainer-111{
    margin-bottom: 0px !important;
}

.dashboard-container{
    height: 604px !important;
    display: flex !important;
    /* margin-left: 272px !important; */
    position: relative !important;
}

